.grid-container {
  display: grid;
  grid-template-columns: [col-2] 100px [col-1] 100px [col0] 100px [col1] 100px [col2] 100px;
  grid-template-rows: [row-1] 100px [row0] 100px [row1] 100px;
  grid-gap: 20px;
}

.grid-cell {
  border: 1px solid black;
}
