<button type="button" (click)="startNewGame()">New Game !</button>
<hr />
<div *ngIf="getTopDomain() | async as domain">
  <div>{{ domain.name }}</div>
  <div class="grid-container">
    <div
      *ngFor="let pivot of getDomainCards(domain.id) | async"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div>{{ (getCard(pivot.cardId) | async).name }}</div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getBottomDomain() | async as domain">
  <div>{{ domain.name }}</div>
  <div class="grid-container">
    <div
      *ngFor="let pivot of getDomainCards(domain.id) | async"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div>{{ (getCard(pivot.cardId) | async).name }}</div>
    </div>
  </div>
</div>
