<button type="button" (click)="startNewGame()">New Game !</button>
<hr />
<button type="button" (click)="onThrow()">throw</button>
<p *ngFor="let die of getDice() | async">{{ die.id }} - {{ die.value }}</p>
<hr />
<div *ngFor="let pivot of getLandsPileCards() | async">
  <div *ngIf="getLandCard(pivot.cardId) as land">
    {{ land.type }} - {{ land.die }}
  </div>
</div>
<hr />
<div *ngFor="let pivot of getEventsPileCards() | async">
  <div *ngIf="getEventCard(pivot.cardId) as event">
    {{ event.name }}
  </div>
</div>
<div *ngFor="let pile of getStockPiles()">
  <hr />
  <button type="button" (click)="drawInitialRedHand(pile)">
    Draw 3 cards to red hand
  </button>
  <button type="button" (click)="drawInitialBlueHand(pile)">
    Draw 3 cards to blue hand
  </button>
  <div
    *ngFor="let pivot of getStockPilesCards(pile) | async"
    [ngSwitch]="pivot.cardType"
  >
    <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
      <div *ngIf="getActionCard(pivot.cardId) as action">
        {{ action.name }}
      </div>
    </div>
    <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
      <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
        {{ development.name }}
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getRedHand() as hand">
  <div>{{ hand.color }}</div>
  <div
    *ngFor="let pivot of getHandsCards(hand.id) | async"
    [ngSwitch]="pivot.cardType"
  >
    <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
      <div *ngIf="getActionCard(pivot.cardId) as action">
        {{ action.name }}
      </div>
    </div>
    <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
      <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
        {{ development.name }}
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getRedDomain() as domain">
  <div>{{ domain.color }}</div>
  <div class="grid-container">
    <div
      *ngFor="let pivot of getDomainsCards(domain.id) | async"
      [ngSwitch]="pivot.cardType"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
        <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
          {{ development.name }}
        </div>
      </div>
      <div *ngSwitchCase="AGGLOMERATION_CARD_INTERFACE_NAME">
        <div *ngIf="getAgglomerationCard(pivot.cardId) as agglomeration">
          {{ agglomeration.type }}
        </div>
      </div>
      <div *ngSwitchCase="LAND_CARD_INTERFACE_NAME">
        <div *ngIf="getLandCard(pivot.cardId) as land">
          {{ land.type }}<br />{{ land.die }}<br />VAL: {{ pivot.value }}
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getBlueDomain() as domain">
  <div>{{ domain.color }}</div>
  <div class="grid-container">
    <div
      *ngFor="let pivot of getDomainsCards(domain.id) | async"
      [ngSwitch]="pivot.cardType"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
        <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
          {{ development.name }}
        </div>
      </div>
      <div *ngSwitchCase="AGGLOMERATION_CARD_INTERFACE_NAME">
        <div *ngIf="getAgglomerationCard(pivot.cardId) as agglomeration">
          {{ agglomeration.type }}
        </div>
      </div>
      <div *ngSwitchCase="LAND_CARD_INTERFACE_NAME">
        <div *ngIf="getLandCard(pivot.cardId) as land">
          {{ land.type }}<br />{{ land.die }}<br />VAL: {{ pivot.value }}
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getBlueHand() as hand">
  <div>{{ hand.color }}</div>
  <div
    *ngFor="let pivot of getHandsCards(hand.id) | async"
    [ngSwitch]="pivot.cardType"
  >
    <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
      <div *ngIf="getActionCard(pivot.cardId) as action">
        {{ action.name }}
      </div>
    </div>
    <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
      <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
        {{ development.name }}
      </div>
    </div>
  </div>
</div>
