.flex-container {
  display: flex;
  column-gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: [col-2] 150px [col-1] 150px [col0] 150px [col1] 150px [col2] 150px;
  grid-template-rows: [row-1] 150px [row0] 150px [row1] 150px;
  grid-gap: 20px;
}

.grid-cell {
  border: 1px solid black;
}
