<button type="button" (click)="startNewGame()">New Game !</button>
<hr />
<div class="flex-container">
  <div>
    <p>Current Player:</p>
    <div *ngFor="let player of DomainColor | keyvalue">
      <label>
        <input
          type="radio"
          [value]="player.value"
          name="player"
          [ngModel]="getPlayer() | async"
          (ngModelChange)="setPlayer($event)"
        />{{ player.key }}</label
      >
    </div>
  </div>
  <div>
    <p>Current Phase:</p>
    <div *ngFor="let phase of GamePhase | keyvalue">
      <label>
        <input
          type="radio"
          [value]="phase.value"
          name="phase"
          [ngModel]="getPhase() | async"
          (ngModelChange)="setPhase($event)"
        />{{ phase.key }}</label
      >
    </div>
  </div>
</div>
<hr />
<div class="flex-container">
  <button
    type="button"
    [disabled]="throwDisabled() | async"
    (click)="onThrow()"
  >
    throw
  </button>
  <p *ngIf="getProductionDie() | async as value">Production: {{ value }}</p>
  <p *ngIf="getEventDie() | async as value">Event: {{ value }}</p>
</div>
<hr />
<div class="flex-container">
  <button
    type="button"
    [disabled]="buyDisabled() | async"
    (click)="buyAgglomeration()"
  >
    buy agglomeration
  </button>
  <div>
    <p>Selected Agglomeration Card:</p>
    <p *ngIf="getSelectedFaceUpPileCard() | async as pivot">
      {{ pivot.pileId }}
    </p>
  </div>
  <div>
    <p>Selected Agglomeration Available Slot:</p>
    <p *ngIf="getSelectedDomainCard() | async as pivot">
      {{ pivot.domainId }}<br />
      {{ pivot.col }}<br />
      {{ pivot.row }}
    </p>
  </div>
</div>
<hr />
<div class="flex-container">
  <button
    type="button"
    [disabled]="buyDisabled() | async"
    (click)="buyDevelopment()"
  >
    buy development
  </button>
  <div>
    <p>Selected Development Card:</p>
    <p *ngIf="getSelectedHandCard() | async as pivot">
      {{ pivot.cardId }}
    </p>
  </div>
  <div>
    <p>Selected Development Available Slot:</p>
    <p *ngIf="getSelectedDomainCard() | async as pivot">
      {{ pivot.domainId }}<br />
      {{ pivot.col }}<br />
      {{ pivot.row }}
    </p>
  </div>
</div>
<hr />
<div class="flex-container">
  <div *ngFor="let pile of getFaceUpPiles()">
    <p>{{ pile }}</p>
    <button type="button" (click)="selectFirst(pile)">Select</button>
    <p>Remaining: {{ getFaceUpPileCount(pile) | async }}</p>
  </div>
  <div>
    <div *ngFor="let pivot of getLandsPileCards() | async">
      <div *ngIf="getLandCard(pivot.cardId) as land">
        {{ land.type }} - {{ land.die }}
      </div>
    </div>
  </div>
  <div *ngFor="let pile of getStockPiles()">
    <button
      *ngIf="drawInitialRedHandAvailable() | async"
      type="button"
      (click)="drawInitialRedHand(pile)"
    >
      Draw 3 cards to red hand
    </button>
    <button
      *ngIf="drawInitialBlueHandAvailable() | async"
      type="button"
      (click)="drawInitialBlueHand(pile)"
    >
      Draw 3 cards to blue hand
    </button>
    <div
      *ngFor="let pivot of getStockPilesCards(pile) | async"
      [ngSwitch]="pivot.cardType"
    >
      <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
        <div *ngIf="getActionCard(pivot.cardId) as action">
          {{ action.name }}
        </div>
      </div>
      <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
        <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
          {{ development.name }}
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngFor="let pivot of getEventsPileCards() | async">
      <div *ngIf="getEventCard(pivot.cardId) as event">
        {{ event.name }}
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getRedHand() as hand">
  <div>{{ hand.color }}</div>
  <div
    *ngFor="let pivot of getHandsCards(hand.id) | async"
    [ngSwitch]="pivot.cardType"
  >
    <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
      <div *ngIf="getActionCard(pivot.cardId) as action">
        {{ action.name }}
      </div>
    </div>
    <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
      <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
        {{ development.name }}
        <button type="button" (click)="selectHandCard(pivot.id)">Select</button>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getRedDomain() as domain">
  <div>{{ domain.color }}</div>
  <div
    class="grid-container"
    [ngStyle]="{
      'grid-template-columns': getColumnsTemplate(domain.id) | async
    }"
  >
    <div
      *ngFor="let pivot of getDomainsCards(domain.id) | async"
      [ngSwitch]="pivot.cardType"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined &&
            getDevelopmentCard(pivot.cardId) as development
          "
        >
          {{ development.name }}
        </div>
      </div>
      <div *ngSwitchCase="AGGLOMERATION_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined &&
            getAgglomerationCard(pivot.cardId) as agglomeration
          "
        >
          {{ agglomeration.type }}
        </div>
      </div>
      <div *ngSwitchCase="LAND_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined && getLandCard(pivot.cardId) as land
          "
        >
          {{ land.type }}<br />
          {{ land.die }}<br />
          Available: {{ pivot.availableResources }}<br />
          Locked: {{ pivot.lockedResources }}<br />
          <button type="button" (click)="lockResource(pivot.id)">Lock</button
          ><button type="button" (click)="unlockResources(pivot.id)">
            Unlock</button
          ><br />
          <button type="button" (click)="increaseResources(pivot.id)">
            Increase
          </button>
        </div>
      </div>
      <div *ngSwitchCase="AVAILABLE_ROAD_SLOT">
        <button type="button" (click)="selectDomainCard(pivot.id)">
          Select
        </button>
      </div>
      <div *ngSwitchCase="AVAILABLE_DEVELOPMENT_SLOT">
        <button type="button" (click)="selectDomainCard(pivot.id)">
          Select
        </button>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getBlueDomain() as domain">
  <div>{{ domain.color }}</div>
  <div
    class="grid-container"
    [ngStyle]="{
      'grid-template-columns': getColumnsTemplate(domain.id) | async
    }"
  >
    <div
      *ngFor="let pivot of getDomainsCards(domain.id) | async"
      [ngSwitch]="pivot.cardType"
      class="grid-cell"
      [ngStyle]="{
        'grid-column-start': 'col' + pivot.col,
        'grid-row-start': 'row' + pivot.row
      }"
    >
      <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined &&
            getDevelopmentCard(pivot.cardId) as development
          "
        >
          {{ development.name }}
        </div>
      </div>
      <div *ngSwitchCase="AGGLOMERATION_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined &&
            getAgglomerationCard(pivot.cardId) as agglomeration
          "
        >
          {{ agglomeration.type }}
        </div>
      </div>
      <div *ngSwitchCase="LAND_CARD_INTERFACE_NAME">
        <div
          *ngIf="
            pivot.cardId !== undefined && getLandCard(pivot.cardId) as land
          "
        >
          {{ land.type }}<br />
          {{ land.die }}<br />
          Available: {{ pivot.availableResources }}<br />
          locked: {{ pivot.lockedResources }}<br />
          <button type="button" (click)="lockResource(pivot.id)">Lock</button>
          <button type="button" (click)="unlockResources(pivot.id)">
            Unlock</button
          ><br />
          <button type="button" (click)="increaseResources(pivot.id)">
            Increase
          </button>
        </div>
      </div>
      <div *ngSwitchCase="AVAILABLE_ROAD_SLOT">
        <button type="button" (click)="selectDomainCard(pivot.id)">
          Select
        </button>
      </div>
      <div *ngSwitchCase="AVAILABLE_DEVELOPMENT_SLOT">
        <button type="button" (click)="selectDomainCard(pivot.id)">
          Select
        </button>
      </div>
    </div>
  </div>
</div>
<hr />
<div *ngIf="getBlueHand() as hand">
  <div>{{ hand.color }}</div>
  <div
    *ngFor="let pivot of getHandsCards(hand.id) | async"
    [ngSwitch]="pivot.cardType"
  >
    <div *ngSwitchCase="ACTION_CARD_INTERFACE_NAME">
      <div *ngIf="getActionCard(pivot.cardId) as action">
        {{ action.name }}
      </div>
    </div>
    <div *ngSwitchCase="DEVELOPMENT_CARD_INTERFACE_NAME">
      <div *ngIf="getDevelopmentCard(pivot.cardId) as development">
        {{ development.name }}
        <button type="button" (click)="selectHandCard(pivot.id)">Select</button>
      </div>
    </div>
  </div>
</div>
